{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="{% static 'website/reports/badge_labels.css' %}" rel="stylesheet" />
  </head>
  <body>
    {% for chunk in chunked %}
      <div class="page">
      {% for attendee, items in chunk %}
        <div class="label">
          <h3 class="name">{{ attendee.get_display_name }}</h3>
          <table>
            {% for item in items %}
              <tr>
                <td class="title">{{ item.event_name }}</td>
                <td class="day">{{ item.start_time|date:"D" }}</td>
                <td class="time">{{ item.start_time|date:"h:i A" }}</td>
                <td class="room">{{ item.room_name }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      {% endfor %}
      </div>
    {% endfor %}
  </body>
</html>
