{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="{% static 'website/reports/door_cards.css' %}" rel="stylesheet" />
  </head>
  <body>
    {% for day, rooms in days.items %}
      {% for room, events in rooms.items %}
      <h1><span class="date">{{ day|date:"l" }}</span><span class="room">{{ room }}</span></h1>
      <table class='schedule'>
        {% for event in events %}
          <tr class="event">
            <td class="time">{{ event.start_time|date:"h:i A" }}</td>
            <td><span class="title">{{ event.name }}</span>
              <br />
              <span class="description">{{ event.description }}</span></td>
            <td class="participants">
              {% for participant in event.participant_set.all %}
                {{ participant.attendee.get_display_name }}<br />
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </table>
      {% endfor %}
    {% endfor %}
  </body>
</html>
