{% extends 'base.html' %}
{% load static %}


{% block js %}
<script defer type="text/javascript" src="{% static 'website/reports/index.js' %}"></script>
<script defer type="text/javascript" src="{% static 'js/lib/moment.js' %}"></script>

<script type="text/javascript">
window.events = {{ events|safe }};
window.participant_emails = {{ participant_emails|safe }};
</script>
{% endblock %}

{% block css %}
<style type="text/css">
#content button {
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

#content a:nth-of-type(1) {
  margin-left: 0;
}
</style>
{% endblock %}

{% block content %}
<h4>Click an option below to download a report</h4>
<br />
<a>
  <button id="email-report" class="btn btn-default">
    <span style="font-size: 3em;" class="glyphicon glyphicon-envelope"></span>
    <br />
    Generate Emails
  </button>
</a>
<a href="programbook/">
  <button class="btn btn-default">
    <span style="font-size: 3em;" class="glyphicon glyphicon-list-alt"></span>
    <br />
    Program Book
  </button>
</a>
<a href="tent_cards/">
  <button class="btn btn-default">
    <span style="font-size: 3em;" class="glyphicon glyphicon-chevron-up"></span>
    <br />
    Tent Cards
  </button>
</a>
<a href="door_cards/">
  <button class="btn btn-default">
    <span style="font-size: 3em;" class="glyphicon glyphicon-object-align-horizontal"></span>
    <br />
    Door Cards
  </button>
</a>
<a href="badge_labels/">
  <button class="btn btn-default">
    <span style="font-size: 3em;" class="glyphicon glyphicon glyphicon-tag"></span>
    <br />
    Badge Labels
  </button>
</a>
<a href="pocket_program/">
  <button class="btn btn-default">
    <span style="font-size: 3em;" class="glyphicon glyphicon glyphicon-th-list"></span>
    <br />
    Pocket Program
  </button>
</a>
{% endblock content %}
