{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>{{ convention.name }}</title>
  <link type="text/css" rel="stylesheet" href="{% static 'programming/index.css' %}"/>
  <link type="text/css" rel="stylesheet" href="{% static 'css/lib/fullcalendar.min.css' %}"/>
  <link type="text/css" rel="stylesheet" href="{% static 'css/lib/scheduler.min.css' %}"/>
  <link type="text/css" rel="stylesheet" href="{% static 'website/reports/pocket_program.css' %}"/>
  <link type="text/css" rel="stylesheet" href="{% static 'website/reports/pocket_program.print.css' %}" media="print"/>

  <script defer type="text/javascript" src="{% static 'js/lib/jquery.js' %}"></script>
  <script defer type="text/javascript" src="{% static 'js/lib/moment.js' %}"></script>
  <script defer type="text/javascript" src="{% static 'js/lib/moment-range.min.js' %}"></script>
  <script defer type="text/javascript" src="{% static 'js/lib/fullcalendar.min.js' %}"></script>
  <script defer type="text/javascript" src="{% static 'js/lib/scheduler.min.js' %}"></script>
  <script defer type="text/javascript" src="{% static 'website/reports/pocket_program.js' %}"></script>

  <script type="text/javascript">
    window.events = {{ events|safe }};
    window.rooms = {{ rooms_serialized|safe }};
    window.important_ids = {{ important_ids|safe }};
  </script>
</head>
<body></body>
</html>
