{% load account %}
{% load static %}
{% load raven %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'css/lib/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/lib/bootstrap-theme.min.css' %}" rel="stylesheet" />
    <link href="{% static 'website/reports/program_book.css' %}" rel="stylesheet" />

    <script defer type="text/javascript" src="{% static 'js/lib/jquery.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'js/lib/lodash.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'js/lib/bootstrap.js' %}"></script>
    <script defer type="text/javascript" src="{% if debug %}{% static 'js/lib/vue.js' %}{% else %}{% static 'js/lib/vue.min.js' %}{% endif %}"></script>
    <script defer type="text/javascript" src="{% static 'js/lib/moment.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'website/reports/program_book.js' %}"></script>
    <script type="text/javascript">window.events = {{ events|safe }};</script>
  </head>
  <body>
    <div id="content" v-cloak>
      <div id="header">
        <p>TIP: This will print better when scaled to 50% in the print settings dialog.</p>
      </div>
      {% verbatim %}
      <div id="schedule">
        <table class="schedule" v-for="grouped_events in dates">
          <thead>
            <tr>
              <th colspan="4">{{ get_day_of_week(grouped_events[0]) }}</th>
            </tr>
          </thead>
          <template v-for="time in grouped_events[1]">
            <template v-for="events in time">
              <tr v-for="(event, index) in events">
                <td class="time" v-if="index === 0" :rowspan="events.length">{{ pretty_date(event.start_time) }}</td>
                <td class="description"><strong>{{ event.name }}</strong><br />{{ event.description }}</td>
                <td class="participants">
                  <p
                      v-for="participant in event.participants"
                      :class="'participant ' + (participant.is_moderator ? 'moderator' : '')"
                  >{{ participant.name }}</p>
                </td>
                <td class="room">{{ get_room_name(event) }}</td>
              </tr>
            </template>
          </template>
        </table>
      </div>
      {% endverbatim %}
    </div>
    <script defer type="text/javascript" src="{% static 'js/lib/raven.js' %}"></script>
    <script type="text/javascript">Raven.config('{% sentry_public_dsn %}').install()</script>
  </body>
</html>
