{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="{% static 'website/reports/tent_cards.css' %}" rel="stylesheet" />
  </head>
  <body>
    {% for event in events %}
      {% for participant in event.participant_set.all %}
      <div class='tent'>
          <div class='back'>
            <div>
            <table>
              <tr>
                <td class="date">{{ event.start_time|date:"l" }}</td>
                <td class="participant">{{ participant.attendee.get_display_name }}</td>
              </tr>
              <tr>
                <td class="room">{{ event.room.name }}</td>
                <td class="name">{{ event.name }}</td>
              </tr>
              <tr>
                <td class="time">{{ event.start_time|date:"h:i A" }}</td>
                <td class="description">{{ event.description }}</td>
              </tr>
            </table>
            </div>
          </div>
          <div class='front'>
            <div>{{ participant.attendee.get_display_name }}</div>
          </div>
      </div>
      {% endfor %}
    {% endfor %}
  </body>
</html>
