[v-cloak] {
  display: none !important;
}

#container {
  max-width: 60em;
  margin: 1em auto;
  padding: 0 1em;
}

.navbar {
  position: relative;
}

#navbar {
  padding-right: 15px;
}

#content {
  margin: 1em 0;
}

.header .buttons a:hover {
  text-decoration: none;
}

.btn {
  padding: 0.5em;
  background: #f6f8fa !important;
  color: #24292F !important;
  text-shadow: none !important;
}

.btn svg {
  height: 1.5em;
  display: block;
}

.btn .expand {
  display: none;
}

.expanded .expand {
  display: block;
}

.expanded .contract {
  display: none;
}

/*
@media(prefers-color-scheme: dark) {
  body {
    background: #0d1117;
    color: #c9d1d9;
  }

  .list-group-item {
    background: #373E4796 !important;
    border: #f0f6fc19;
  }

  .list-group-item .event-column .name a {
    color: #c9d1d9 !important;
  }

  .btn, .navbar, .navbar-default, .navbar-brand, .navbar-default .navbar-nav > .active > a {
    background: #373E4796 !important;
    color: #c9d1d9 !important;
    text-shadow: none !important;
    border: none;
  }

  .navbar-default .navbar-nav > li > a {
    color: #c9d1d9 !important;
    text-shadow: none !important;
  }

  .navbar-default .navbar-nav > li.open > a {
    background: #373E4796 !important;
  }

  .panel {
    background: #373E4796 !important;
    color: #c9d1d9 !important;
    text-shadow: none !important;
    border: none;
  }

  .panel-heading, .panel-body {
    background: #373E4796 !important;
    color: #c9d1d9 !important;
    text-shadow: none !important;
  }

  path {
    fill: #c9d1d9;
  }
}
*/
