{% extends 'base.html' %}
{% load static %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'programming/index.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/lib/fullcalendar.min.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/lib/scheduler.min.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'programming/calendar.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/lib/fullcalendar.print.css' %}" media="print" />
<link type="text/css" rel="stylesheet" href="{% static 'programming/calendar.print.css' %}" media="print" />
{% endblock %}

{% block js %}
<script defer type="text/javascript" src="{% static 'js/lib/moment.js' %}"></script>
<script defer type="text/javascript" src="{% static 'js/lib/moment-range.min.js' %}"></script>
<script defer type="text/javascript" src="{% static 'js/lib/fullcalendar.min.js' %}"></script>
<script defer type="text/javascript" src="{% static 'js/lib/scheduler.min.js' %}"></script>
<script defer type="text/javascript" src="{% static 'programming/calendar.js' %}"></script>
{{ events|json_script:"serialized-events" }}
{{ rooms|json_script:"serialized-rooms" }}
{{ request.user.is_staff|json_script:"serialized-is_staff" }}
{{ first_date|json_script:"serialized-first_date" }}
{{ day_start|json_script:"serialized-day_start" }}
<script type="text/javascript">
window.csrf_token = "{{ csrf_token }}";
window.events = JSON.parse(document.getElementById('serialized-events').textContent);
window.rooms = JSON.parse(document.getElementById('serialized-rooms').textContent);
window.is_staff = JSON.parse(document.getElementById('serialized-is_staff').textContent);
window.first_date = JSON.parse(document.getElementById('serialized-first_date').textContent);
window.day_start = JSON.parse(document.getElementById('serialized-day_start').textContent);
</script>
{% endblock %}


{% block content %}
{% if events %}
<p class="bg-info">Click on a room name to remove that room from the calendar. Click "Show All Rooms" to show all rooms again.</p>
<div id='calendar'></div>
{% else %}
<h1 style="text-align: center;">No events scheduled</h1>
{% endif %}
{% endblock content %}
