{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'programming/event.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="header">
  <span class="title">{{ event.name }}</span>
  {% if event.format %}
  <span class="label" style="background-color: {{ event.format.color }};" title="Format">{{ event.format.name }}</span>
  {% endif %}
  {% if event.category %}
  <span class="label" style="background-color: {{ event.category.color }}" title="Category">{{ event.category.name }}</span>
  {% endif %}
</div>
<div class="row">
  <div id="event-details-main" class="col-xs-12 col-md-8">
    <p>{{ event.description }}</p>

    <h3>Participants:</h3>
    {% for p in event.participant_set.all %}
    <p
      {% if p.is_moderator %}class="moderator"{% endif %}
      title="{% if p.is_moderator %}Moderator{% else %}Participant{% endif %}"
    >
      <span>{{ p.attendee.get_display_name }}</span>
    </p>
    {% empty %}
    <em class="text-muted">No Participants Scheduled</em>
    {% endfor %}
  </div>
  <div class="col-xs-12 col-md-4">
    {% if request.user.is_authenticated and is_attending and not is_volunteered %}
    <a href="volunteer/">
      <button type="button"
              class="btn btn-primary volunteer"
              title="Volunteer for this event">Volunteer for this event</button>
    </a>
    {% endif %}

    {% if request.user.is_authenticated and is_attending and is_volunteered %}
    <button type="button"
            class="btn btn-default already-volunteered"
            title="You have volunteered"
            disabled="disabled"
            >You have volunteered!</button>
    {% endif %}

    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Location</h3></div>
      <div class="panel-body">
        {% if event.room %}
        <span>{{ event.room.name }}</span>
        {% else %}
        <em class="text-muted">Not Set</em>
        {% endif %}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Time</h3></div>
      <div class="panel-body">
        {% if event.start_time %}
          <h4>{{ event.start_time|date:"H:i" }} - {{ event.get_end_time|date:"H:i" }}</h4>
          <p class="text-muted">{{ event.start_time|date:"l, d M Y" }}</p>
        {% else %}
        <em class="text-muted">Not Set</em>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
