{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'programming/index.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
<script defer type="text/javascript" src="{% static 'programming/index.js' %}"></script>
{% endblock %}

{% block content %}
<div class="header">
  <div class="buttons">
    <div class="toggle-expansion" style="display: none;">
      <button class="btn btn-default" title="Expand events"><div class="expand">{% include 'svg/expand.svg' %}</div><div class="contract">{% include 'svg/contract.svg' %}</div>
      </button>
    </div>
    {% if user.is_staff %}
    <div class="simple-event-list">
      <a href="text/">
        <button class="btn btn-default" title="Download Simple Event List">
          {% include 'svg/list.svg' %}
        </button>
      </a>
    </div>
    {% endif %}
    <div class="calendar-view">
      <a href="calendar/">
        <button class="btn btn-default" title="Calendar View">
            {% include 'svg/calendar.svg' %}
        </button>
      </a>
    </div>
    <div class="filter-events">
      <label for="filtering-toggle" class="btn btn-default" title="Filter events" style="margin: 0">
      {% include 'svg/filter.svg' %}
      </label>
    </div>
    <!--<div class="suggest">
      <a href="suggest/">
        <button class="btn btn-default" title="Suggest Event">
            {% include 'svg/plus.svg' %}
        </button>
      </a>
    </div>-->
  </div>
</div>
<input id="filtering-toggle" type="checkbox" style="display: none;"/>
<div class="filtering-wrapper">
  <form class="filtering form-inline" action="/programming/">
      <label for="filter-search">Search</label>
      <input type="search" class="form-control" id="filter-search" name="search" placeholder="Search events" value="{{ args.search.0 }}">
      <label for="filter-format">Format</label>
      <select id="filter-format" class="form-control" name="format">
        <option value="">---</option>
        {% for format in formats %}
        <option value="{{ format.uuid }}" {% if format.uuid in args.format %}selected="selected"{% endif %}>{{ format.name }}</option>
        {% endfor %}
      </select>
      <label for="filter-category">Category</label>
      <select id="filter-category" class="form-control" name="category">
        <option value="">---</option>
        {% for category in categories %}
        <option value="{{ category.uuid }}" {% if category.uuid in args.category %}selected="selected"{% endif %}>{{ category.name }}</option>
        {% endfor %}
      </select>
      <label for="filter-room">Room</label>
      <select id="filter-room" class="form-control" name="room">
        <option value="">---</option>
        {% for room in rooms %}
        <option value="{{ room.uuid }}" {% if room.uuid in args.room %}selected="selected"{% endif %}>{{ room.name }}</option>
        {% endfor %}
      </select>
    <button type="submit" class="btn btn-default">
      {% include 'svg/search.svg' %}
    </button>
  </form>
  <a href="/programming/">Clear filters</a>
</div>
{% for date, by_date in grouped_events %}
<h3>{% if date %}{{ date|date:"l, F d" }}{% else %}Not yet scheduled{% endif %}</h3>
<ul class="event-list list-group">
  {% for time, events in by_date %}
  {% for event in events %}
  <li class="list-group-item" data-event-id="{{ event.id }}">
    <div class="time-column">
      {% if forloop.first %}
      <div class="time">{{ event.start_time|date:"H:i" }}</div>
      {% endif %}
    </div>
    <div class="event-column">
      {% if request.user.is_authenticated %}
      <div
        class="{star: true, glyphicon: true, 'glyphicon-star': is_starred(event), 'glyphicon-star-empty': !is_starred(event)}"
        @click="toggle_star(event)"
      ></div>
      {% endif %}
      <div class="event-rows">
        <div class="event-row">
          <div class="name"><a href="/programming/{{ event.uuid }}/">{{ event.name }}</a></div>
          <div class="room_name hidden-xs">{{ event.room.name }}</div>
          <div class="type hidden-xs" style="background-color: {{ event.format.color }}" title="{{ event.format.name }}"></div>
        </div>
        <div class="event-row extra">
          <div class="category">Category: <span class="value">{{ event.category.name }}</span></div>
        </div>
        <div class="event-row participants hidden-xs extra">
          <span style="margin-right: 0.25em;">Participants:</span>
          {% for p in event.participant_set.all %}{{ p.attendee.get_display_name }}{% if not forloop.last %}, {% endif %}{% endfor %}
        </div>
        <div class="event-row description extra">{{ event.description }}</div>
      </div>
    </div>
  </li>
  {% endfor %}
  {% endfor %}
</ul>
{% endfor %}
{% endblock content %}
