{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'programming/volunteer.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="header">
  <span class="title">{{ event.name }}</span>
  {% if event.format %}
  <span class="label" style="background-color: {{ event.format.color }};" title="Format">{{ event.format.name }}</span>
  {% endif %}
  {% if event.category %}
  <span class="label" style="background-color: {{ event.category.color }}" title="Category">{{ event.category.name }}</span>
  {% endif %}
</div>
<div class="row">
  <div id="event-details-main" class="col-xs-12 col-md-8">
    <p>{{ event.description }}</p>
  </div>
</div>
<form id="suggest-form" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <h4 class="modal-title">Volunteer</h4>
  <div class="form-group">
    <label for="volunteer-why">Why I'm volunteering for this event</label>
    <textarea id="volunteer-why"
              name="why"
              class="form-control"
              title="Why I'm volunteering"
              placeholder="I'm volunteering because I'm interested in this topic"
              required
    ></textarea>
  </div>

  <div class="form-group">
    <label for="about-me">A little bit more about me <em class="text-muted" style="font-weight: normal">(optional)</em></label>
    <textarea id="about-me"
              name="about"
              class="form-control"
              title="About Me"
              placeholder="I went to school for this and love it"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Volunteer</button>
</form>
{% endblock content %}
