/* Let's max calendar page width and height */
html, body, #container {
  height: 100%;
}

body {
  padding: 1em 0;
}

#container {
  max-width: none !important;
  margin: 0 !important;
}

#content {
  height: calc(100% - 120px);
}

th.fc-resource-cell {
  cursor: pointer;
}

th.fc-resource-cell:hover {
  text-decoration: line-through;
  color: #bf616a;
}

.fc-content {
  color: #3b4252;
}

.bg-info {
  padding: 0.5em;
  text-align: center;
}

.tooltipevent {
  max-width: 15em;
  min-height: 5em;
  background: #ccc;
  position: absolute;
  z-index: 10001;
  padding: 0.25em;
  border-radius: 3px;
  border: 1px solid #000;
  font-size: .85em;
  line-height: 1.3;
}