p.moderator {
  font-weight: bold;
}

.header {
  margin-bottom: 1em;
}

.header .title {
  font-size: 2em;
  margin-right: 0.5em;
}

.header .label {
  color: rgba(32, 32, 32, 0.75);
  vertical-align: super;
  cursor: help;
}

button.volunteer, button.already-volunteered {
  width: 100%;
  margin-bottom: 20px;
}

#event-details-main {
  margin-bottom: 1.5em;
}
