/* Calendar view doesn't work well on mobile, so don't display a link */
@media screen and (max-width: 600px) {
  .calendar-view {
    display: none !important;
  }
}

/* Header */
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.header .buttons {
  flex: 0 0 auto;
  align-self: center;
  margin-left: 0.75em;
}

.header .buttons > * {
  display: inline;
  margin-left: 0.5em;
}

.header > h3 {
  flex: 1 0 auto;
  align-self: center;
  align-items: center;
  margin-left: 0;
}


/* Filtering */
.filtering-wrapper {
  display: none;
}

.filtering-wrapper > a {
  text-align: right;
  margin-top: 0.5em;
}

#filtering-toggle:checked + .filtering-wrapper {
  display: flex;
  flex-direction: column;
}

.filtering {
  display: grid;
  row-gap: 0em;
  column-gap: 0.5em;
}

.filtering > label {
  grid-row: 1;
}

.filtering > input, .filtering > select {
  grid-row: 2;
}

.filtering > button {
  grid-row: 2;
  grid-column: 5;
}

@media screen and (max-width: 600px) {
  .filtering > input, .filtering > select {
    margin-bottom: 0.75em;
  }

  .filtering > label, .filtering > input, .filtering > select, .filtering > button {
    grid-column: 1;
    grid-row: auto;
  }
}

/* Events */
.list-group {
  box-shadow: none;
}

.list-group-item:hover, .list-group-item:focus {
  background-color: rgba(0, 0, 0, 0.075);
}

.list-group-item {
  display: flex;
  cursor: pointer;
  margin-left: 3.5em;
  padding: 0;
}

.list-group-item .time-column {
  position: absolute;
  left: -3.5em;
  top: 0.75em;
}

.list-group-item.list-header:nth-child(1) h3 {
  margin-top: 0;
}

.list-group-item .time-column hr {
  width: 100%;
}

.list-group-item.list-header .time-column {
  flex-basis: 100%;
}

.list-group-item .event-column {
  display: flex;
  flex: 1 1 auto;
  padding: 0.75em 1em;
  overflow: hidden;
}

.list-group-item .event-column .star {
  flex: 0 0 auto;
  font-size: 1.4em;
}

.list-group-item .event-column .event-rows {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  overflow: hidden;
}

.list-group-item .event-column .event-rows.expanded .name {
  font-weight: bold;
}

.list-group-item .event-column .event-row {
  flex: 0 0 auto;
  display: flex;
}

.list-group-item .event-column .event-rows .extra {
  display: none;
}

.list-group-item .event-column .event-rows.expanded .extra {
  display: flex;
}

.list-group-item .event-column .event-row .value:empty::before {
  content: "Not Set";
  color: #777;
  font-style: italic;
}

.list-group-item .event-column .event-row + .event-row {
  padding-top: 0.5em;
}

.list-group-item .event-column .star.glyphicon-star {
  color: gold;
  text-shadow: 0 0 0 black;
}

.list-group-item .event-column .name {
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-group-item .event-column .name a {
  color: black;
}

.list-group-item .event-column .room_name {
  flex: 0 0 auto;
  padding: 0 1em;
}

.list-group-item .event-column .type {
  flex: 0 0 auto;
  align-self: center;
  height: 1em;
  width: 1em;
  margin-bottom: 0.15em;
}

.list-group-item .event-column .description {
  flex: 0 0 auto;
}
