{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block css %}
<style>
.checkbox {
    padding-left: 0 !important;
}

.forgot > a {
    font-size: 14px;
}
</style>
{% endblock css %}

{% block content %}

<h1>{% trans "Sign In" %}</h1>

<p>Don't have an account? <a href="{{ signup_url }}">Sign up here</a></p>

<form method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|bootstrap }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <p><small><em><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></em></small></p>
  <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
</form>

{% endblock %}
