@page {
  size: A4;
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, serif;
}

.page {
  page-break-after: always;
  display: flex;
  flex-wrap: wrap;
}

.label {
  height: 2.333in;
  width: 3.375in;
  border: solid black thin;
  flex: 0 0 unset;
  margin: 0.25in 0.375in;
  box-sizing: border-box;
}

.label .name {
  font-weight: bold;
  margin: 0.25em 0 0.5em 0;
  text-align: center;
}

.label table {
  width: 100%;
}

.label table > tbody > tr:nth-of-type(2n+1) {
  background-color: rgb(249, 249, 249);
}

.label td {
  white-space: nowrap;
}

.label td.title {
  max-width: 15em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.6em;
}

.label td.day {
  text-align: right;
  font-size: 0.6em;
}

.label td.time {
  text-align: right;
  font-size: 0.6em;
}

.label td.room {
  text-align: right;
  font-size: 0.6em;
}
