@page {
  size: A4 landscape;
  margin: 4em;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, serif;
}

h1 {
  margin-top: 0;
  font-size: 2em;
  color: #008080;
  border-top: dashed #008080 0.08em;
  border-bottom: dashed #008080 0.08em;
  padding: 0.25em;
}

h1 .date {
  margin-right: 3em;
}

.schedule {
  page-break-after: always;
  border-collapse: collapse;
  width: 100%;
}

.schedule tr.event {
  border-top: solid black thin;
}

.schedule .event td {
  vertical-align: top;
  padding: 0.5em 0.5em 3em;
}

.schedule .event td.time, .schedule .event td.participants {
  white-space: nowrap;
}

.schedule .event td.time, .schedule .event .title {
  font-weight: bold;
}
