[v-cloak] {
  display: none !important;
}

body {
  margin: 1em;
}

@media print {
  #header {
    display: none;
  }
}

.schedule {
  width: 100%;
  border-collapse: separate;
  margin: 1em auto;
  border-left: solid black thin;
}

.schedule th, .schedule td {
  border-right: solid black thin;
  border-bottom: solid black thin;
  text-align: center;
}

.schedule th {
  text-transform: uppercase;
  color: white !important;
  background: black !important;
  color-adjust: exact;
  font-size: 1.4em;
  vertical-align: middle;
}

.schedule td {
  padding: 1em;
}

.schedule td:empty {
  background-color: #e8e8e8;
}

.schedule td.description {
  text-align: left;
}

.schedule td.panelists p {
  margin: 0;
}

.schedule td.participants p {
  margin: 0;
}

.schedule td.participants p.moderator {
  font-weight: bold;
}