@page {
  size: A4;
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial Rounded MT Bold, Arial, serif;
}

.tent {
  page-break-after: always;
  height: 297mm;
  width: 210mm;
  display: flex;
}

.tent .back, .tent .front {
  height: 297mm;
  width: 105mm;
  text-align: center;
  box-sizing: border-box;
  flex: 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tent .front > div, .tent .back > div {
  transform-origin: center;
  flex: 0 0 auto;
  align-self: center;
}

.tent .front > div {
  transform: rotate(-90deg);
  font-size: 6em;
  white-space: nowrap;
}

.tent .back > div {
  transform: rotate(90deg);
  width: 50em;
}

.tent .back {
  border-right: solid black thin;
  font-family: sans-serif;
}

.tent .back table {
  border-collapse: collapse;
  font-size: 1.3em;
}

.tent .back td:first-child {
  padding-right: 1em;
  font-weight: bold;
}

.tent .back table td {
  vertical-align: top;
  text-align: left;
  padding: 0.25em 0;
}

.tent .back table td.description {
  font-size: 0.8em;
}
