{% load account %}
{% load static %}
{% load raven %}
<!DOCTYPE html>{% load cms_tags menu_tags sekizai_tags static i18n %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    {% block meta %}
    <meta name="description" content="{% page_attribute meta_description %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{% page_attribute "page_title" %}"/>
    <meta property="og:description" content="{% page_attribute meta_description %}"/>
    {% endblock meta %}
    {% block canonical_url %}
    <link rel="canonical" href="{{ request.build_absolute_uri }}"/>
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>
    {% endblock canonical_url %}

    <title>{% block title %}{% page_attribute "page_title" %}{% endblock %}</title>

    <link href="{% static 'css/lib/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/lib/flat-ui.min.css' %}" rel="stylesheet" />
    <link href="{% static 'website/base.css' %}" rel="stylesheet" />
    {% block base_css %}{% endblock %}
    {% block css %}{% endblock %}
    {% render_block 'css' %}
    <style>
    html,
    body {
      background-color: #bbbbdd;
      color: #003a21;
    }
    body {
      height: 100%;
      position: relative;
      padding: 0;
    }
    h1,
    .h1 {
      font-size: 53px;
    }
    h2,
    .h2 {
      font-size: 45px;
    }
    h3,
    .h3 {
      font-size: 37px;
    }
    h4,
    .h4 {
      font-size: 29px;
    }
    h5,
    .h5 {
      font-size: 25px;
    }
    h6,
    .h6 {
      font-size: 22px;
      font-weight: bold;
    }
    .lead {
      margin-bottom: 0;
      font-size: 28px;
      line-height: 1.46428571;
      font-weight: 300;
    }
    a {
      color: #803415;
      font-weight: bold;
    }
    a:hover,
    a:focus {
      color: #4c0017;
    }
    @media (max-width: 767px) {
      h1,
      .h1 {
        font-size: 42px;
      }
      h2,
      .h2 {
        font-size: 34px;
      }
      h3,
      .h3 {
        font-size: 28px;
      }
      h4,
      .h4 {
        font-size: 24px;
      }
      h5,
      .h5 {
        font-size: 20px;
      }
      h6,
      .h6 {
        font-size: 18px;
      }
      .footer {
        font-size: 16px;
      }
      .lead {
        font-size: 23px;
      }
    }
    @media (max-width: 664px) {
      h1,
      .h1 {
        font-size: 32px;
      }
      h2,
      .h2 {
        font-size: 28px;
      }
      h3,
      .h3 {
        font-size: 22px;
      }
      h4,
      .h4 {
        font-size: 20px;
      }
      h5,
      .h5 {
        font-size: 18px;
      }
      h6,
      .h6 {
        font-size: 16px;
      }
      body,
      p {
        font-size: 16px;
      }
      .footer {
        font-size: 14px;
      }
      .lead {
        font-size: 19px;
      }
    }
    @media (max-width: 535px) {
      .footer {
        font-size: 12px;
      }
    }
    @media (max-width: 427px) {
      h1,
      .h1 {
        font-size: 24px;
      }
      h2,
      .h2 {
        font-size: 22px;
      }
      h3,
      .h3 {
        font-size: 20px;
      }
      h4,
      .h4 {
        font-size: 18px;
      }
      h5,
      .h5 {
        font-size: 16px;
      }
      h6,
      .h6 {
        font-size: 14px;
      }
      body,
      p {
        font-size: 14px;
      }
      .footer {
        font-size: 10px;
      }
      .lead {
        font-size: 17px;
      }
    }
    .btn-primary {
      color: white;
      background-color: #547995;
    }
    .btn-primary:hover,
    .btn-primary.hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active {
      color: white;
      background-color: #819fb6;
      border-color: #819fb6;
    }
    .page-container {
      position: relative;
      height: auto !important;
      height: 100%;
      min-height: 100%;
    }
    @media (max-width: 313px) {
      .page-container {
        width: 313px;
      }
    }
    .logo {
      display: block;
      margin: 0 auto;
      padding: 20px;
      max-width: 100%;
      height: auto;
    }
    .main-nav {
      background-color: #547995;
      -webkit-border-radius: 0;
      border-radius: 0;
      margin-bottom: 0;
    }
    .main-nav .btn {
      -webkit-border-radius: 0;
      border-radius: 0;
    }
    .navbar-default .navbar-nav > li > a {
      color: white;
    }
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
      color: #b1c4d2;
    }
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
      color: #b1c4d2;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
      border-top: 0;
    }
    .navbar-default .navbar-nav > .active > a {
      color: #b1c4d2;
    }
    .navbar-default .navbar-nav > li.active > a,
    .navbar-default .navbar-nav > li.active > a:hover,
    .navbar-default .navbar-nav > li.active > a:focus {
      cursor: default;
      color: #b1c4d2;
    }
    .navbar-default .navbar-nav li.dropdown.active > a:hover,
    .navbar-default .navbar-nav li.dropdown.active > a:focus {
      color: #b1c4d2;
    }
    .navbar-nav > li > .dropdown-menu {
      margin-top: 1px;
      background-color: #547995;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    .navbar-nav > li > .dropdown-menu > a:hover,
    .navbar-nav > li > .dropdown-menu > a:focus {
      color: #b1c4d2;
      background-color: transparent;
    }
    .navbar-nav > li > .dropdown-menu > .active > a,
    .navbar-nav > li > .dropdown-menu > .active > a:hover,
    .navbar-nav > li > .dropdown-menu > .active > a:focus {
      color: #b1c4d2;
      background-color: transparent;
    }
    .dropdown-menu > a {
      color: white;
    }
    .navbar-default .navbar-toggle:before {
      color: white;
    }
    .navbar-default .navbar-toggle:hover:before {
      color: #b1c4d2;
    }
    @media (max-width: 767px) {
      .navbar {
        min-height: 43px;
      }
      .navbar-nav > li > a {
        font-size: 14px;
      }
    }
    @media (max-width: 664px) {
      .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-bottom: 0;
      }
      .navbar-nav .dropdown-menu {
        display: block;
        position: static;
        float: none;
        width: auto;
        margin-top: 0 !important;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      .navbar-nav .dropdown-menu > .active > a {
        color: #b1c4d2;
        background-color: transparent;
      }
      .navbar-nav .dropdown-menu > li > a {
        padding: 7px 15px 7px 31px !important;
        line-height: 23px;
        color: white;
      }
    }
    @media (min-width: 665px) {
      .navbar-nav {
        float: left;
        margin: 0;
      }
      .navbar-nav > li {
        float: left;
      }
      .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
      }
      .navbar .container > .navbar-header,
      .navbar .container-fluid > .navbar-header,
      .navbar .container > .navbar-collapse,
      .navbar .container-fluid > .navbar-collapse {
        margin-left: -42px;
      }
      .navbar-nav > li > a {
        padding: 10px 12px;
        font-size: 14px;
      }
    }
    @media (min-width: 768px) {
      .navbar-nav > li > a {
        padding: 15px 16px;
        font-size: 16px;
      }
    }
    .navbar-nav .btn.btn-primary {
      color: #f0f0f0;
    }
    .content {
      padding-top: 10px;
      padding-bottom: 150px;
    }
    .footer {
      border-top: 1px solid #534d45;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    .footer ul {
      padding: 15px 0;
      margin: 0;
      list-style: none;
    }
    .footer ul li {
      float: left;
      padding: 10px 15px;
    }
    .email {
      font-style: italic;
    }
    .email .nospam {
      display: none;
    }
    .goh {
      font-weight: bold;
    }
    .address {
      font-style: italic;
    }
    .mfollowus {
      margin-left: 0;
      padding-left: 0;
    }
    .mfollowus li {
      display: inline-block;
    }
    .mfollowus a {
      display: block;
      width: 64px;
      height: 64px;
      text-indent: -9999px;
    }
    .mfollowus a.facebook {
      background: transparent url("https://minicon56.mnstf.org/media/filer_public/2f/1a/2f1aa68e-03c8-4171-9185-582e05c9b69e/facebook.png")
        scroll no-repeat left top;
    }
    .mfollowus a.twitter {
      background: transparent url("https://minicon56.mnstf.org/media/filer_public/98/ce/98cee4b3-1838-46a1-b95e-cc17e9d83178/twitter.png") scroll
        no-repeat left top;
    }
    .contact-list .name {
      font-weight: normal;
    }
    .concom-list,
    .contact-list {
      margin-bottom: 20px;
    }
    .concom-list dd,
    .contact-list dd {
      margin-bottom: 10px;
    }
    .progress-report .guest {
      text-align: center;
      margin-bottom: 10px;
    }
    .progress-report .guest em {
      font-size: 18px;
    }
    .progress-report a[href$="toc"] {
      font-size: 12px;
    }
    .form-group {
      margin-bottom: 5px;
    }
    select {
      width: 100%;
    }
    .donate_b {
      display: none;
    }
    #address1 {
      margin-bottom: 10px;
    }
    .member-list {
      line-height: 1.2;
      margin-bottom: 0;
    }
    .member-list li {
      margin-bottom: 0.1em;
    }
    .headshot {
      display: block;
      float: left;
      margin: 0 1em 1em 0;
    }
    .headshot-small {
      width: 120px;
      height: 150px;
    }
    .title {
      font-style: italic;
    }
    hr {
      border-top: 1px solid #547995;
      margin-top: 40px;
    }
    table.schedule thead {
      border: 1px solid #ddd;
    }
    table.schedule tbody th {
      background-color: #547995;
    }
    table.schedule th {
      font-size: 20px;
      text-align: center;
    }
    table.schedule td {
      border: 1px solid #ddd;
    }
    table.schedule td.time {
      text-align: right;
      min-width: 8em;
    }
    table.schedule td.event {
      text-align: center;
      vertical-align: middle;
      font-weight: bold;
    }
    table.gaming-schedule {
      margin-top: 0;
      margin-bottom: 0;
      border-spacing: 0;
      border: 1px solid black;
      table-layout: fixed;
    }
    table.gaming-schedule td,
    table.gaming-schedule th {
      width: 20%;
    }
    table.gaming-schedule th {
      text-align: center;
    }
    table.gaming-schedule th.day {
      background-color: black;
      color: white;
      font-size: 15px;
      font-weight: bold;
      font-family: Calibri, sans-serif;
    }
    table.gaming-schedule td {
      border: 1px dotted #999;
    }
    table.gaming-schedule td.time {
      text-align: right;
      border: 1px solid black;
      font-weight: bold;
      padding-right: 5px;
    }
    table.gaming-schedule td.game {
      vertical-align: middle;
      padding: 0 10px;
      border: 1px solid black;
    }
    table.gaming-schedule td.game1 {
      background-color: #8eb4e3;
    }
    table.gaming-schedule td.game2 {
      background-color: #e6b9b8;
    }
    table.gaming-schedule td.game3 {
      background-color: #ffc000;
    }
    table.gaming-schedule td.game4 {
      background-color: #d9d9d9;
    }
    blockquote {
      margin: 0 0 15px;
    }
    cite:before {
      content: "\2014\00a0";
    }
    cite {
      padding-left: 15px;
    }
    .info-list dd {
      margin-bottom: 2em;
    }
    .moving {
      font-size: 125%;
      font-weight: bold;
    }
    figcaption {
      font-style: italic;
    }
    figure.right {
      float: right;
      margin: 5px 0 10px 15px;
    }
    @media (max-width: 650px) {
      figure.right {
        float: none;
        display: block;
        margin: 10px 0;
      }
    }
    .text-muted {
      color: #999;
    }
    .art {
      background-color: #bbbbdd;
      padding-left: 15px;
    }

    img[alt~='Photo'] {
        float: left;
        margin-right: 4px;
        height: 300px;
        width: 200px;
    }
    </style>

    <script defer src="{% static 'js/lib/jquery.js' %}"></script>
    <script defer src="{% static 'js/lib/bootstrap.min.js' %}"></script>
    <script defer src="{% static 'registration/registration.js' %}"></script>
    {% block js %}{% endblock %}

    {% block page_head %}{% endblock %}
  </head>
  <body {% block body_attrs %}{% endblock %} style="background-color: rgb(187, 187, 221);">
    {% cms_toolbar %}
    <img
        src="https://minicon56.mnstf.org/media/filer_public/f7/cf/f7cf9ec6-95f9-4de0-a589-12e285c38d21/logo.png"
        alt="MINICON 56"
        class="logo"
        style="display: block; margin: 0px auto; padding: 20px; max-width: 100%; height: auto;"/>
    {% block navbar %}
    <nav class="navbar {% block navbar_options %}navbar-expand-lg navbar-dark bg-dark{% endblock %}" style="background-color: rgb(84, 121, 149) !important;">
      <div class="container">
        <!-- <a class="navbar-brand" href="/">{% block brand %}{{ convention.name }}{% endblock %}</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">{% block menubar %}{% show_menu 0 100 1 100 'menu/menu.html' %}{% endblock %}</ul>
          {% block searchbar %}{% endblock %}
        </div>
      </div>
    </nav>
    {% endblock %}

    <div class="container">{% block content %}{% placeholder "Content" %}{% endblock content %}</div>
    {% block base_js %}{% endblock %}
    {% render_block 'js' %}
    {% block end_js %}{% endblock %}
    {% block bottom_css %}{% endblock %}
  </body>
</html>
